.text_details_buildings{
    border-bottom: 2px solid #f5f5f5;
    height: 40px;
    margin-bottom: 20px;

}
.text_details_buildings span{
    font-weight: bold;
    font-size: 18px;
   
}

.main_name_last{
    display: flex;
    justify-content: space-between;
   
}

.name_last{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.main_name_last input{
    border: 2px solid #f5f5f5;
    height: 50px;
    
}

.input_all{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.input_all input{
    border: 2px solid #f5f5f5;
    height: 50px;
}

.input_all button{
    border: 2px solid #f5f5f5;
    height: 50px;
    background: #7fad39;
    color: #ffffff;
    font-weight: bold;
}

.input_all button:focus{
  outline: none;
}



.main_resume_order{
    background: #f5f5f5;  
    padding: 6%;
}

.main_resume_order h4{
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #ebebeb;
}

.checkout__order__products{
    display: flex;
    justify-content: space-between;
}
.checkout__order__products span{
    font-weight: bold;
    font-size: 16px;
}

.list_products{
    padding-inline-start: 0;
    height: 215px;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 5px;

}

.list_products li{
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    color: #6f6f6f;
    text-transform: capitalize;
   
}

.checkout__order__products_sub{
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 2px solid #ebebeb;
}


.checkout__order__products_sub span{
    font-weight: bold;
    font-size: 16px;
}


/* responsive */
@media (max-width: 992px) {
    .main_name_last{
        flex-direction: column;
    }
    .name_last{
        width: 100%;
    }
    
}

/* desktop */
@media (min-width: 992px) {
    .main_resume_order{
        height: 458px;

    }
}
